<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Пример поиска пути!</title>
    <script src="//api-maps.yandex.ru/2.1.11/?load=package.full&lang=ru_RU" type="text/javascript"></script>
    <script src="http://code.jquery.com/jquery-2.1.0.min.js" type="text/javascript"></script>

    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="//seiyria.github.io/bootstrap-slider/stylesheets/bootstrap-slider.css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script src="//seiyria.github.io/bootstrap-slider/javascripts/bootstrap-slider.js"></script>

    <style>
        #map {
            height: 700px;
            width: 100%;
        }

        *[type=button] {
            margin-left: 10px;
            margin-right: 10px;
        }

        body {
            padding-top: 70px;
        }

        .progress-bar.animate {
            width: 100%;
        }

        table.table tbody tr:hover {
            background-color: #eee;
            border-color: #ddd;
        }

        li .slider {
            padding-top: 15px;
            padding-bottom: 15px;
        }

        .slider.slider-horizontal {
            height: 50px
        }

        #distanceSlider .slider-selection {
            background: #3a94a5;
        }
    </style>

    <script type="text/javascript">
        var myMap;
        var gids = {};
        var searchCenter;
        var routes;
        var distance = 1000;

        var shiftWindow = function() { scrollBy(0, -70) };
        if (location.hash) shiftWindow();
        window.addEventListener("hashchange", shiftWindow);

        function showModalW() {
            var modal = $('.js-loading-bar'),
                bar = modal.find('.progress-bar');

            modal.modal('show');
            bar.addClass('animate');
        }

        function closeModalW() {
            var modal = $('.js-loading-bar'),
                bar = modal.find('.progress-bar');
            bar.removeClass('animate');
            modal.modal('hide');
        }

        var MAX_DRAWED_PATH = 2000;
        var current, routes;
        $(document).ready(function () {
            ymaps.ready(function() {
                myMap = new ymaps.Map("map", {
                    center: [55.753559, 37.609218],
                    zoom: 12
                });

                searchCenter = new ymaps.Placemark([55.753559, 37.609218], {
                    hintContent: ""
                }, {
                    preset: 'islands#circleDotIcon',
                    iconColor: 'red',
                    draggable: true,
                    openEmptyBalloon: true
                });
                searchCenter.events.add('balloonopen', function (e) {
                    searchCenter.properties.set('balloonContent', searchCenter.geometry.getCoordinates());
                });

                myMap.geoObjects.add(searchCenter);

                $('.js-loading-bar').modal({ backdrop: 'static', show: false });

                myMap.events.add('click', function (e) {
                    if (current) {
                        myMap.geoObjects.remove(current);
                        current.options.set('strokeColor', '#0000FF');
                        current.options.set('strokeWidth', 3);
                        current.options.set('preset', 'islands#blueIcon');
                        routes.add(current);
                    }
                    if (routes)
                        myMap.geoObjects.add(routes);
                })
            });

            $('body').scrollspy({ target: '.navbar-default', offset: 70 });
            $('#distance').slider({ tooltip : 'hide' });
            $("#distance").on("slide", function(slideEvt) {
                distance = slideEvt.value;
                $("#distanceValue").text(slideEvt.value + ' m');
            });

            $('#find_routes').click(function (e) {
                showModalW();
                var center = searchCenter.geometry.getCoordinates();
                $.ajax({
                    type: "POST",
                    url: '/find-routes.json',
                    dataType: "json",
                    data: {
                        lat: center[0],
                        lon: center[1],
                        distance: distance
                    },
                    success: $.proxy(function(data) {
                        closeModalW();

                        routes = new ymaps.GeoObjectCollection(null, {
                            balloonCloseButton: false,
                            strokeWidth: 3,
                            strokeOpacity: 0.5,
                            strokeColor: '#0000FF',
                            preset: 'islands#blueIcon'
                        });
                        var sites = {};
                        var siteCount = 0;
                        $.each(data.routes, function (i, item){
                            var site = item.route[item.route.length-1];

                            $.each(item.gids, function (i, gid) {
                                gids[gid] = 'exists';
                            });

                            if (sites[site[2]])
                                return;

                            sites[site[2]] = true;
                            siteCount++;
                            if (siteCount > MAX_DRAWED_PATH)
                                return;
                            var pathNSite = new ymaps.GeoObjectCollection();

                            var hint = 'siteID = ' + site[2] + '<br>length = ' + item.length;
                            $.each(item.gids.sort(), function (i, gid) { hint += '<br>' + gid; });

                            pathNSite.add(new ymaps.Placemark(site, { hintContent: hint, balloonContent: hint }, {balloonCloseButton: true}));
                            pathNSite.add(new ymaps.Polyline(item.route, { hintContent: hint }));
                            pathNSite.events.add('click', function (e) {
                                e.stopPropagation();
                                current = pathNSite;
                                myMap.geoObjects.remove(routes);
                                current.options.set('strokeColor', '#FF0000');
                                current.options.set('strokeWidth', 4);
                                current.options.set('preset', 'islands#redIcon');
                                myMap.geoObjects.add(pathNSite);
                            });

                            $.each(item.gids, function (i, gid) {
                                gids[gid] = {
                                    geoObject: pathNSite
                                };
                            });

                            routes.add(pathNSite);
                        });

                        gidsArray = Object.keys(gids).sort(function (g1, g2) {
                            if (gids[g1]=='exists')
                                return gids[g2]=='exists' ? g1.localeCompare(g2) : 1;
                            else
                                return gids[g2]=='exists' ? -1 : g1.localeCompare(g2);

                        });

/*                        $.each(gidsArray, function(i, gid) {
                            var _class = '';
                            if (gids[gid] != 'exists')
                                _class = 'active';

                            $('#gids tbody').append('<tr class="' + _class + '"><td>' + i + '</td><td><a class="gid-link" data-gid="' + gid + '" href="#routesmap">' + gid +  '</a></td></tr>');
                        });*/

                        myMap.geoObjects.add(routes);
                    }, this),
                    error: $.proxy(function(data, status) {
                        alert('Ошибка при вызове. Обратитесь в службу поддержки!');
                    }, this)
                });
                return false;
            });

            $('#show_not_connected').click(function () {
                $.ajax({
                    type: "GET",
                    url: '/not-connected.json',
                    dataType: "json",
                    success: function (data) {
                        $.each(data, function (i, item){
                            var p = new ymaps.Placemark(item, { hintContent: "" }, {
                                preset: 'islands#circleDotIcon',
                                iconColor: 'blue'
                            });
                            myMap.geoObjects.add(p);
                        });
                    },
                    error: function () {
                        alert('Ошибка при загрузке данных');
                    }
                });
            });
        });
    </script>
</head>
<body>
<div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <a class="navbar-brand" href="#">Поиск путей</a>
            <ul class="nav navbar-nav">
                <li class="active"><a href="#routesmap">Карта</a></li>
                <li><a href="#gidlist">Список GID'ов</a></li>
                <li><span class="navbar-text" id="distanceValue">1000 m</span></li>
                <li><input id="distance" data-slider-id='distanceSlider' type="text" data-slider-min="1000" data-slider-max="3000" data-slider-step="50" data-slider-value="1000"/></li>
                <li><button id="find_routes" type="button" class="btn btn-default navbar-btn">Найти все поверхности!</button></li>
                <li><button id="show_not_connected" type="button" class="btn btn-default navbar-btn">Показать точки без привязок</button></li>
            </ul>
        </div>
    </div>
</div>
<div class="container">

    <div class="jumbotron">
        <div class="container">
            <div class="row" id="routesmap">
                <a href="#map-anchor" class="thumbnail">
                    <div id="map"></div>
                </a>
            </div>
            <div class="row" id="gidlist">
                <div class="panel panel-default">
                    <!-- Default panel contents -->
                    <div class="panel-heading">Список GID'ов</div>
                    <table class="table" id="gids">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>GID</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal js-loading-bar">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="panel panel-default">
                    <div class="panel-heading">Подождите, пожалуйста.</div>
                    <div class="panel-body">
                        <div class="progress progress-popup">
                            <div class="progress-bar"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
